# Dependencies
**/node_modules/

# SvelteKit and build output
**/.svelte-kit/
**/.output/
**/build/
**/dist/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Local and editor files
.DS_Store
**/.DS_Store
.vscode/
**/.vscode/

# Logs
*.log
npm-debug.log*

# Vite temporary files
**/vite.config.*.timestamp-*